<p>CS Search Engine</p>

<p><a href="https://github.com/Lowckick/WebProgrammingProject"><img alt="" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="height:40px; width:40px" /></a>&nbsp;<a href="https://t.me/Lowckick" target="_blank"><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/2048px-Telegram_logo.svg.png" style="height:40px; width:40px" /></a></p>

<p>&copy; 2023 CS Search Engine Holovko Uaroslav holovckouaroslav@gmail.com</p>
